.home-page {
  width: 70%;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.game-select {
  width: 100%;
}

.game-select-header {
  font-size: 2rem;
}

.game-select-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.game-card {
  width: fit-content;
  box-shadow: 0 1px 3px var(--greyshadow);
  border-radius: 3px;
  transition: 0.2s;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 1px 5px black;
}

.game-card-pic {
  width: 100%;
}

.game-card-show {
  margin: 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.game-card-show-name {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.game-card-show-difficulty {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.leaderboard-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pinkshadow);
  box-shadow: 0 1px 5px var(--pinkshadow);
  border-radius: 3px;
  padding: 48px;
}

.leaderboard-banner > p {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}

.leaderboard-banner-link {
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--pink);
  background-color: white;
  box-shadow: 0 1px 3px white;
  transition: 0.2s;
}

.leaderboard-banner-link:hover {
  box-shadow: 0 1px 5px var(--pink);
  background-color: var(--pink);
  color: white;
}